
body, html {
  height: 100%;
}

h1{
  padding-top: 40vh;
}

.parallax {
  background-image: url('../../src/assets/nature.jpg');
  width: 100%;
  height: 100vh;
  color: white;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid black;
}

.parallax2 {
    background-image: url('../../src/assets/tree.jpg');
    width: 100%;
    height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    z-index: 1;
}

.parallax02 {
    background-image: url('../../src/assets/butterfly.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50vw;
    z-index: 4;

}

.parallax3 {
    background-image: url('../../src/assets/mountains.jpg');
    width: 100%;
    height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-top: 3px white;
  }

.para {
    padding-top: 40vh;
    font-size:16px;
    border-top: 2px solid white;
}

.para1 {
    height:200px;
    width: 35vw;
    color: black;
    font-size:16px;
    margin-left: 60vw;
    margin-top: 25vh;
    opacity: 0.8;
}

.para2 {
    height:40vh;
    width: 50vw;
    color: rgb(255, 255, 255);
    background-color: white;
    font-size:16px;
    padding: 25px;
    border-radius: 15px;
    line-height: 25px;
    opacity: 0.9;
    margin-left: 25vw;
    margin-top: 25vh;
}

ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  line-height: 25px;
  justify-content: center;
  font-size: large;
  position: fixed;
  text-align: center;
  width: 100vw;
  z-index: 8;
}

li {
  padding-left: 15px;
  margin-top: 5px;
}